.app {
    background-color: #F4F4F4;
    min-height: 100vh;
    display:flexbox;
}

.app__title {
    padding-top: 10px !important;
    padding-left: 15px !important;
}

.link__home {
    text-decoration: none;
    color: black;
}