.task__container--details {
    max-width: 50vw;
    min-width: 15vw;
    margin-left: 25vw;
    height: 100%;
}

.task__footer-details {
    background-color: #9797971f;
    box-shadow: inset 0px 5px 3px -3px rgba(50, 50, 50, 0.75);
}

.actions__container-details {
    margin-top: 7%;
}

.chip-action {
    margin-right: 5px !important;
    border-color: #616161 !important;
}

.task__note {
    max-width: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dot__details {
    height: 27px;
    width: 27px;
    background-color:forestgreen;
    border-radius: 50%;
    display:inline-block;
}

.title-dot__container {
    display: flex;
    align-items: center;
}

.check {
    margin-left: auto;
}

.check:hover {
    cursor: pointer;
    color: forestgreen;
}

.date--details {
    color: rgba(0, 0, 0, 0.5);
    font-size: medium !important;
}

.tag--details {
    margin-top: 5px;
    margin-right: 5px;
}

.break {
    width: 78%;
    margin-left: 12%;
}
